extends layout-unauth

block content
    form(class='login-form', action="/warehouse/login", method="post")
        input(type='text', name="username", placeholder='Enter Username')
        br
        input(type='password', name="password", placeholder='Password')
        br
        a(href='/warehouse/register') Register
        br
        button(type='submit') Submit
        a(href='/warehouse')
            button(type="button") Cancel