extends layout-unauth

block content
    form(class='login-form', role='form', action="/warehouse/register", method="post")
        input(type='text', name="username", placeholder='Enter Username')
        br
        input(type='password', name="password", placeholder='Password')
        br
        button(type='submit') Submit
        a(href='/warehouse')
            button(type="button") Cancel
        br
        span= err