extends layout

block content
    each row in report ? report : []
        div(class='row')
            span(class='row-field row-field-name')= row.location.name
            span(class='row-field row-field-quantity')= row.quantity

    form(class='', action='/warehouse/reports/item', method='POST')
        select(name='itemId' required)
            option(value='' selected) choose one
            each item in items
                option(value=item.id)= item.name
        input(type='submit', value='Report')